<div class="container-fluid">
  <div class="row mt-2">
    <div class="col text-center">
      <h1 class="">Upload some images</h1>
      <input
        type="file"
        multiple
        accept="image"
        (change)="onImageChange($event)"
      />
    </div>
  </div>
  <div *ngIf="uploadedImages" class="row mt-2">
    <div class="col-3 text-center" *ngFor="let uploadedImage of uploadedImages">
      <img class="w-100 h-auto" [src]="uploadedImage" />
    </div>
  </div>
</div>
<router-outlet />
