<div class="">
  <app-welcome-screen
    (nameEntered)="onNameEntered($event)"
  ></app-welcome-screen>

  <div class="container-fluid">
    <div class="row mt-2 mb-2 d-flex justify-content-center">
      <div class="col-10">
        <app-file-upload
          (filesSelected)="onImageChange($event)"
          [uploadComplete]="uploadFinished"
          (uploadFiles)="onUpload()"
        ></app-file-upload>
      </div>
    </div>
  </div>

  <app-loader [show]="isLoading"></app-loader>
  <app-masonry
    [media]="images"
    [totalImages]="totalImages"
    (imagesLoadedCount)="onImagesLoadedCount($event)"
    (onOpen)="openGallery($event)"
  ></app-masonry>

  <app-image-gallery
    (shouldLoadMore)="loadMoreImages()"
    [media]="images"
  ></app-image-gallery>
</div>
<router-outlet />
